@use '../settings/mixins' as mixins;

.dual-color-text {
    text-align:left;
    background: linear-gradient(to bottom, #FFFFFF 50%, #FEB0DC 50%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
    text-shadow: none;
    //&__shadow{
    // &::after{
    //     content: "welcome";
    //     display: block;
    //     position:absolute;
    //     color: $color-black;
    //     padding: 1rem;
    //     //text-shadow: none;
    //     text-shadow: 1px 1px 2px $color-black;
    //     top: 1rem;
    //     left: 1px;
    //     z-index: -1;
    //     @include mobile{
    //         font-size: 2rem;
    //         padding: 8px;
    //         top: 1rem;
    //         left: 1px;
    //     }
    //   }
    // &::before{
    //     content: "player1";
    //     display: block;
    //     position:absolute;
    //     color: $color-black;
    //     padding: 1rem;
    //     //text-shadow: none;
    //     text-shadow: 1px 1px 2px $color-black;
    //     top: 7rem;
    //     left: 1px;
    //     z-index: -1;
    //     @include mobile{
    //         font-size: 2rem;
    //         padding: 8px;
    //         top: 4rem;
    //         left: 1px;
    //     }
    //   }  
    //} 

    &__secondary{
        text-align:left;
        background: linear-gradient(to bottom, #FFFFFF 50%, #ACB7DF 50%); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        background-clip: text; 
        color: transparent;
        text-shadow: none;
    }

}

h1 {
    position:relative;
    font-size:  4rem;
    color: $color-white;
    text-transform: uppercase;
    padding: 1rem 0;
    text-shadow: 1px 1px 2px $color-black;
    z-index: 10;
    @include mixins.mobile{
        font-size:  2rem;
    }
}

h2 {
    font-size:  2rem;
    color: $color-white;
    text-transform: uppercase;
    padding: 1rem;
    line-height: 3rem;
    text-shadow: 1px 1px 2px $color-black;
    @include mixins.mobile{
        font-size:  1.2rem;
        line-height: 1.5rem;
        padding: 0 .5rem 1rem;
    }
}

p {
    font-size: inherit;
	text-transform: uppercase;
    color: $color-white;
    padding: 1rem;
    @include mixins.mobile{
        padding:  .5rem;
    }
}
