.dual-color-text {
    text-align:left;
    background: linear-gradient(to bottom, #FFFFFF 50%, #FEB0DC 50%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
    text-shadow: none;

}

h1 {
    font-size:  4rem;
    color: $color-white;
    text-transform: uppercase;
    padding: 1rem 0;
    text-shadow: 1px 1px 2px $color-black;
    @include mobile{
        font-size:  2rem;
    }
}

h2 {
    font-size:  2rem;
    color: $color-white;
    text-transform: uppercase;
    padding: 1rem;
    line-height: 3rem;
    text-shadow: 1px 1px 2px $color-black;
    @include mobile{
        font-size:  1.2rem;
        line-height: 1.5rem;
    }
}

p {
    font-size: inherit;
	text-transform: uppercase;
    color: $color-white;
    padding: 1rem;
    @include mobile{
        padding:  .5rem;
    }
}