.image-link {
    position:absolute;
    bottom: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-height: 300px;
    @include mobile{
        position:relative;
        bottom: -30px;
        //width: 75px;
        //height: 65px;
    }
    &__bubble{
        //justify-self: center;
        //align-self: center;
        padding: 0 2rem .5rem ;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .5rem;
        text-align: center;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 130px;
        background-image: url(../../public/images/cloud.png);

        &-text{
            display: inline-block;
            text-align: center;
            width: 130px;
            line-height: 1rem;

        }
    }
}