button {
    background: none; /* Usuwa domyślne tło */
    border: none; /* Usuwa domyślną ramkę */
    padding: 0; /* Usuwa domyślne wewnętrzne odstępy */
    margin: 0; /* Usuwa domyślne marginesy */
    font: inherit; /* Dziedziczy czcionkę z rodzica */
    color: inherit; /* Dziedziczy kolor tekstu */
    text-align: inherit; /* Dziedziczy wyrównanie tekstu */
    text-transform: none; /* Usuwa ewentualne wielkie litery */
    outline: none; /* Usuwa domyślny obrys */
    box-shadow: none; /* Usuwa domyślny cień */
    appearance: none; /* Usuwa specyficzne style przycisków na różnych urządzeniach (np. na mobilnych) */
    cursor: pointer; /* Ustawia kursor wskazujący */
    &:hover {
        background-color: $color-dark-blue;
        //box-shadow: white;
    }
}

// .btn {
//     font-size: 1rem;
// 	width: 12.5rem;
//     float: left;
//     margin: 2rem;
//     border-left: .3125rem solid $color-white; //or 10px
//     border-right: .3125rem solid $color-white; //or 10px
//     position: relative;
// 	/* font-family: "Pixelify Sans"; */
// 	/* font-size: 2rem; */
// 	/* text-transform: uppercase; */
// 	/* text-align: center; */
// 	background-color: $color-dark-blue-secondary;
//     &:hover{
//         box-shadow: 0px 10px 20px 10px rgb(255 255 255 /30%), 2px -10px 20px 10px rgb(255 255 255 /30%);
//     }   
// }

// .btn .wrapper {
//     display: block;
//     position: relative;
//     color: $color-white;
//     /* padding: 1.25em; */
//     /* margin: -.3125em 0; */
//     padding: 1.25em; // 40px
//     margin: -.3125em 0; // -10px
//     border-top: .3125rem solid $color-white; // 10px
//     border-bottom: .3125rem solid $color-white; // 10px
// 	/* font-family: "Pixelify Sans"; */
// 	/* font-size: 2rem; */
// 	/* text-transform: uppercase; */
// 	/* text-align: center; */
// }

// .wrapper{
// 	font-family: $font-press-start;
// 	font-size: 1em;
// 	text-transform: uppercase;
// 	text-align: center;
// }

// /* Pseudo-elements for corners */
// .btn::before,
// .btn::after,
// .btn .wrapper::before,
// .btn .wrapper::after {
//     content: '';
//     width: .3125em; // 10px
//     height: .3125em; // 10px
//     display: block;
//     position: absolute;
//     background: $color-white;
// }

// /* Top corners */
// .btn::before {
//     top: -.15625em; // -5px
//     left: -.15625em; // -5px
// }
// .btn::after {
//     top: -.15625em; // -5px
//     right: -.15625em; // -5px
// }

// /* Bottom corners */
// .btn .wrapper::before {
//     bottom: -.15625em; // -5px
//     left: -.15625em; // -5px
// }
// .btn .wrapper::after {
//     bottom: -.15625em; // -5px
//     right: -.15625em; // -5px
// }

.btn {
    font-size: 1rem;
    width: 12.5rem;
    float: left;
    margin: 1rem;
    border-left: .3125rem solid $color-white; //or 10px
    border-right: .3125rem solid $color-white; //or 10px
    position: relative;
    background-color: $color-dark-blue-secondary;

    &:hover {
        box-shadow: 0px 10px 20px 10px rgb(255 255 255 /30%), 2px -10px 20px 10px rgb(255 255 255 /30%);
    }

    .wrapper {
        display: block;
        position: relative;
        color: $color-white;
        padding: 1.25em; // 40px
        margin: -.3125em 0; // -10px
        border-top: .3125rem solid $color-white; // 10px
        border-bottom: .3125rem solid $color-white; // 10px

        font-family: $font-press-start;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;

        &::before,
        &::after {
            content: '';
            width: .3125em; // 10px
            height: .3125em; // 10px
            display: block;
            position: absolute;
            background: $color-white;
        }

        &::before {
            bottom: -.15625em; // -5px
            left: -.15625em; // -5px
        }

        &::after {
            bottom: -.15625em; // -5px
            right: -.15625em; // -5px
        }
    }

    &::before,
    &::after {
        content: '';
        width: .3125em; // 10px
        height: .3125em; // 10px
        display: block;
        position: absolute;
        background: $color-white;
    }

    &::before {
        top: -.15625em; // -5px
        left: -.15625em; // -5px
    }

    &::after {
        top: -.15625em; // -5px
        right: -.15625em; // -5px
    }
}

.btn--secondary {
    border-color: $color-dark-blue-secondary;

    .wrapper {
        border-color: $color-dark-blue-secondary;

        &::before,
        &::after {
            background: $color-dark-blue-secondary;
        }
    }

    &::before,
    &::after {
        background: $color-dark-blue-secondary;
    }
}

