.character {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    &__alien1 {
        width: 78px;
        height: 64px;
        background-image: url(../../public/images/alien1.png);
    }
    &__alien2 {
        width: 51px;
        height: 79px;
        background-image: url(../../public/images/alien2.png);
    }
    &__alien3 {
        width: 66px;
        height: 65px;
        background-image: url(../../public/images/alien3.png);
    }
    &__scientist {
        width: 108px;
        height: 297px;
        background-image: url(../../public/images/scientist.png);
    }
    &__astronaut {
        width: 106px;
        height: 295px;
        background-image: url(../../public/images/astronaut.png);
    }
    &__ufo {
        width: 197px;
        height: 194px;
        background-image: url(../../public/images/ufo.png);
    }
    &__ufo2 {
        width: 385px;
        height: 421px;
        background-image: url(../../public/images/ufo2.png);
    }
    &__ufo3 {
        width: 146px;
        height: 76px;
        background-image: url(../../public/images/ufo3.png);
    }
}

//usage <Character character='ufo'/> accessible characters: scientist, astronaut, ufo, ufo2, alien1, alien2, alien3