.main{
    &__social {
        &-list {
            display: flex;
            flex-direction: row;
            gap: 4rem;
            padding:1rem;
        }
        &-icon{
            //color: $color-dark-blue-secondary;
            color: $color-white;
        }
    }
}
