@import '../settings/colors';
@import '../settings/mixins';

.heading{
    &__text{
    position: relative;
    font-size: 2.5rem;
    @include mobile{
        font-size: 1rem;
    }
        &--shadow{
            &::after{
                //content: "i'm przemek malec";
                content: attr(data-text);
                display: block;
                position:absolute;
                color: $color-black;
                //padding: 1rem;
                //text-shadow: none;
                text-shadow: 1px 1px 2px $color-black;
                top: 1rem;
                //left: 1px;
                z-index: -1;
                @include mobile{
                    font-size: 1rem;
                    //padding: 8px;
                    top: .5rem;
                    //left: 1px;
                }
            }
        }
    }
}