
@keyframes arrow-sway {
  from, to { gap: 1rem; }
  50% { gap: 2rem; }
}

.main {
  &__section--button {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    animation: arrow-sway 2s ease infinite;
  }
  &__character{
    &--arrow{
      @include mobile{
        display: none;
      }
    }

  }
}

// .section__follow-me {
//     display: flex;
//     // align-items: center;
//     // justify-content: center;
// }

// .section__welcome{
//   width:1000px;
//   margin: 0 auto;
// }


