.level-loader{
	display: flex;
	justify-content:space-between;
	align-items:center;
    flex-direction: column;
    // width: 100vw;
    //height: 300px;
    
    // background: url('../../public/images/bgblack.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    &__heading{
        font-size: 4rem;
        text-transform: uppercase;
        padding: 1rem;
        @include mobile{
            font-size:  1.4rem;
        }
        //margin: 1rem 1rem 3rem;
    }

    &__subheading {
        text-align: center;
    }

    &__container{
        min-height: 100vh;
        width: 100vw;
        background: url('../../public/images/bgblack.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // display:flex;
        // align-items:center;
        // flex-direction: column;
    }
    &__section {
        display: flex;
        flex-direction: column; /* Ustawia elementy w kolumnie */
        justify-content: center; /* Wycentrowanie elementów w pionie */
        align-items: center; /* Wycentrowanie elementów w poziomie */
    }

    &__navigation{
        //justify-self: flex-start;
        align-self: flex-start;
        padding: 1rem;
    }
    &__list{
        &::before{
            content: "";
            display: inline-block;
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            background-image: url(../../public/images/arrow2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            //top: 40px;
            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &-style, &:visited{
            font-size: 2rem;
            color: $color-white;
            //width: 2.5rem;
            //height: 2.5rem;
            //transform: rotate(45deg);
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 .5rem;
            @include mobile {
                font-size: 1.2rem;
            }
    
    }
        
    }

}