.container {
    background: url('../../public/images/bg3.webp') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}