.container {
    background: url('../../public/images/bg1.webp') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* header na górze, footer na dole */
    //height: 100vh; /* wysokość na 100% widoku */
}